.App {
  width: 788px;
  height: 429px;
  background: #3BD98A;
  border-radius: 10px;
}

#container{
  display:grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2em;
  align-items: center;
  justify-items: center;

}

#drum-pads{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}
#controls{
  display: grid;
  grid-template-rows: 2fr;
  grid-gap: 2em;
  justify-items: center;
}

#volume{
  display:grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-gap: 1em;
}
#power{


}
.react-switch {
  text-align:center;
  flex-direction: column !important;
  justify-content: center;
  transform: rotate(-90deg);
  margin: 1em;
}