.App{
  background-color: #3BD98A;
  width: 788px;
  height: 429px;
  display: flex;
  flex-direction: column;
  justify-content:center

}

#display{
  display:grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 2em;
  justify-items: center;

}

.drum-pads{
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  column-gap: 1em;
}