.App {
  width: 788px;
  height: 429px;
  background: #3BD98A;
  border-radius: 10px;
}

#display{
  display:grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2em;
  align-items: center;
  justify-items: center;

}

#drum-pads{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}
#power{
  width: 23px;
  height: 77px;
  background:#FC7644;
  border-radius: 10px;
}
.react-switch {
  border-radius:10px !important;
  display:flex !important;
  text-align:center;
  flex-direction: column !important;
  justify-content: center;
  transform: rotate(-90deg);

}